.lesson-block {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #6d6d6d;
    border-radius: 5px;
}

h3 span {
    color: #dddddd;
    margin-right: 10px;
}

.description {
    font-style: italic;
    background-color: #dddddd;
    padding: 5px;
    display: inline-block;
}
.small-description {
    color: coral;
}