#form-to-add-money-income {
    #money-income-adding-progress {
        width: 100%;
        display: none;
    }
    .money_income_reason_wrapper {
        width: 100%;
        .mdl-textfield {
            width: 100%;
        }
    }
    .money_income_quantity_wrapper {
        width: 100%;
        .mdl-textfield {
            width: 20%;
        }
    }
    .money_income_category_wrapper {
        width: 100%;
        @media (max-width: 768px) {
            .mdl-textfield {
                width: 100%;
            }
        }
    }
    .money_income_date_wrapper {
        width: 100%;
        text-align: center;
        .mdl-textfield {
            width: 20%;
            @media (max-width: 768px) {
                width: 60%;
            }
        }
    }
    .money_income_date_wrapper,
    .money_income_category_wrapper,
    .money_income_quantity_wrapper,
    .money_income_reason_wrapper {
        padding: 10px;
    }
}