/*===== MIXINS =====*/
    @mixin size ($width, $height: $width) {
        width: $width;
        height: $height;
    }
    @mixin position ($position, $values) {
        position: $position;
        $offsets: (
                top:    nth($values, 1),
                right:  nth($values, 2),
                bottom: nth($values, 3),
                left:   nth($values, 4),
        );
        @each $offset, $value in $offsets {
            @if ($value != null) {
                #{$offset}: $value;
            }
        }
    }
    @mixin prefixer ($property, $value, $prefixes: webkit moz ms o) {
        @each $prefix in $prefixes {
            #{"-" + $prefix + "-" + $property}: $value;
        }
        #{$property}: $value;
    }
/*=================*/

/*===== Helper classes =====*/
    .element-hidden {
        overflow: hidden;
    }
/*=================*/

/*===== General styles on all pages =====*/
    .android-logo-image {
        height: 50px;
    }
    .page-title-card {
        width: 100%;
        margin-bottom: 20px;
        & > .mdl-card__title {
            height: 200px;
            color: #ffffff;
        }
        .mdl-card__supporting-text {
            text-align: justify;
        }
    }
/*=================*/

/*===== Main page =====*/
    .main-page-title-card {
        .mdl-card__title {
            background: url('/images/main-page-title-background.png') center / cover;
            color: dimgray;
        }
    }
/*=================*/

/*===== Behavioral page =====*/
    .behavioral-page-title-card {
        .mdl-card__title {
            background: url('/images/behavioral_patterns_title_background.jpg') center / cover;
            color: darkred;
        }
    }
/*=================*/

/*===== Structural page =====*/
    .structural-page-title-card {
        .mdl-card__title {
            background: url('/images/structural_patterns_title_background.jpg') center / cover;
            color: black;
        }
    }
/*=================*/

/*===== Creational page =====*/
    .creational-page-title-card {
        .mdl-card__title {
            background: url('/images/creational_patterns_title_background.jpg') center / cover;
        }
    }
/*=================*/

/*===== JS page =====*/
    .js-page-title-card {
        .mdl-card__title {
            background: url('/images/javascript-page-title-background.jpg') center / cover;
        }
    }
    .lesson-block-card {
        width: 100%;
        margin-bottom: 20px;
        .subtitle {
            font-size: 14px;
            margin-left: 10px;
        }
        canvas {
            border: 1px solid black;
        }
        .description {
            font-style: italic;
            background-color: #dddddd;
            padding: 5px;
            display: inline-block;
        }
    }
    .animated-image {
        @include size(100%, 200px);
        overflow: hidden;
        position: relative;
        img {
            @include position(absolute, null null null 0px);
            width: 150px;
        }
    }
/*=================*/

/* ====== CALENDAR Page ====== */
    .calendar-page-title-card .mdl-card__title {
        background: url('/images/calendar_title_background.jpg') center / cover;
    }
    .main-calendar-table {
        width: 100%;
        th.mdl-data-table__cell--non-numeric {
            text-align: center;
        }
        td {
            padding: 10px 0;
            &:first-of-type, &:last-of-type {
                padding: 10px 0;
            }
            &.mdl-data-table__cell--non-numeric {
                text-align: center;
            }
            button.show-dialog {
                width: 80%;
            }
        }
        .cell-active-data {
            background-color: darken(#ffffff, 10);
        }
        .show-events-btn {
            @include position(absolute, 2px 2px null null);
        }
    }
    #event-adding-progress {
        display: none;
    }
    /*------ Day events list ------*/
        .day-events-list {
            text-align: left;
            min-width: 300px;
            max-width: 700px;
            .mdl-list__item {
                overflow: visible;
            }
            .mdl-list__item-text-body {
                min-width: 350px;
                max-width: 650px;
                white-space: normal;
            }
            .day-event-icon {
                float: left;
                margin-right: 16px;
                font-size: 48px;
                color: rgb(121,85,72);
            }
        }
    /*------ --------------- ------*/
/* =================== */